<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
         <div ng-controller="myCtrl">
             <h1 ng-show="!data">Loading...</h1>
             <div ng-show="data">
                <h1>El último tweet fue hace {{ diff }}</h1>
                <a ng-href="https://twitter.com/sabuesognu/status/{{data.id_str}}" target="_blank">enlace al tweet</a>
             </div>
         </div>

        <script src="angular.min.js"></script>
        <script type="text/javascript" src="codebird.js"></script>

        <script>

            angular.module('myApp', [])

            .controller('myCtrl', function($scope){

                $scope.test = 'asdf';

                var cb = new Codebird;
                cb.setConsumerKey("hE5YZP23bPMVTJIPGl0EUfbeZ", "bdYqf9fk7ynECN1rzBaskj5ChHW5zDaTYmmpUBDp2Nzo6IAh6K");

                cb.setToken("244029249-P68wqiTcc5Lqme8qLNfXufsP2JjVDvf8dOmtcfcC", "fIl87FrNNYFZRKhD2KHTkE5Iumu6HnNi4jTOsA2QpzhTO");

                var params = {
                    screen_name: "sabuesognu",
                    count: '10',
                    exclude_replies: false,
                    include_rts: false
                };
                cb.__call(
                    "statuses_userTimeline",
                    params,
                    function (reply, rate, err) {
                        $scope.$apply(function(){
                            $scope.data = reply[0];
                            console.log($scope.data);
                            var now = new Date(Date.now())
                            var tweet_date = new Date($scope.data.created_at)
                            $scope.diff = minTohhmmss((now - tweet_date) / 1000 / 60 / 60)
                        })
                    }
                );

                function minTohhmmss(decimalTimeString){
                    
                    var decimalTime = parseFloat(decimalTimeString);
                    decimalTime = decimalTime * 60 * 60;
                    var hours = Math.floor((decimalTime / (60 * 60)));
                    decimalTime = decimalTime - (hours * 60 * 60);
                    var minutes = Math.floor((decimalTime / 60));
                    decimalTime = decimalTime - (minutes * 60);
                    var seconds = Math.round(decimalTime);

                    return "" + hours + "h " + minutes + "' " + seconds + "''";
                }

            })


            


        </script>
    </body>
</html>